<% layout('layout') -%>
<h2>Give Feedback</h2>
<% if (state === 0) { %>First, give <%= to.from.name %> some feedback.<% } %>
<% if (state === 1) { %><%= to.from.name %> has written feedback from you. To access it, answer some questions about your date.<% } %>

<form method="POST" role="form">
	<%- form %>
	<div class="row">
		<div class="span12 form controls">
			<input type="submit" name="submit" id="submit" value="Create">
		</div>
	</div>
</form>